<header>
  <h1 class="logo">Logo</h1>
  <nav>
    <ul>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
    </ul>
  </nav>  
</header>
{{!-- Maybe floating fixed --}}

<main>
  <h2 id="title">Main</h2>
  {{outlet}}
</main>

{{!-- Maybe floating fixed --}}
<footer>
  <span>&copy; 2015 Copyright Company</span>

  <ul class="social">
    <li>FB</li>
    <li>TW</li>
    <li>EM</li>
  </ul>
</footer>