<header id="main-header">
  <h1 class="logo">Logo</h1>
  <nav>
    <ul>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
    </ul>
  </nav>  
</header>
{{!-- Maybe floating fixed --}}

<main>
  <article>
    <header>WOD</header>
    {{!-- <div class="meta">
      <span class="posted at">2015-06-28</span>
      <span class="posted by">Author name</span> 
    </div> --}}
    <div class="content">
      <span>Iterations: 21, 15, 9</span>
      <ul>
        <li>Push ups</li>
        <li>Dips</li>
        <li>Burpees</li>
        <ul>
          <li>Interlude: 500m jog</li>
        </ul>
      </ul>
    </div>
  </article>

  {{outlet}}
</main>

{{!-- Maybe floating fixed --}}
<footer id="main-footer">
  <span>&copy; 2015 Copyright Company</span>

  <ul class="social">
    <li>FB</li>
    <li>TW</li>
    <li>EM</li>
    <li>PH</li>
  </ul>
</footer>