<header id="main-header">
  <h1 class="logo">Logo</h1>
  <nav>
    <ul>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
      <li>Nav item</li>
    </ul>
  </nav>  
</header>
{{!-- Maybe floating fixed --}}

<main>
  <article>
    <header>FITstrong - A dynamic, diverse, outdoor indoor way of life.</header>
    {{!-- <div class="meta">
      <span class="posted at">2015-06-28</span>
      <span class="posted by">Author name</span> 
    </div> --}}
    <div class="content">
      <p>Getting up at the crack of dawn or racing back from work to hit the gym along with hundreds of other gym members can be quite a work out in itself. And what’s worse, once you’ve finally thought of a routine for the day, you find someone else had exactly the same idea as you. Now you’re left contemplating which machine to use next, or even how to use the machine. At FITStrong we strive to eliminate all the hassles of conventional gyms and instead focus on creating a clean, spacious and active atmosphere and lifestyle. Our training is fun, it’s functional, it’s fresh and it will always leave you feeling excited about your next work-out.</p>
      <p>So walk in, drop your bags, catch up with a mate and enjoy a well formulated, personal, high intensity workout that will never be repeated.</p>
    </div>
  </article>

  <article>
    <header>FITstrong - A dynamic, diverse, outdoor indoor way of life.</header>
    {{!-- <div class="meta">
      <span class="posted at">2015-06-28</span>
      <span class="posted by">Author name</span> 
    </div> --}}
    <div class="content">
      <p>Getting up at the crack of dawn or racing back from work to hit the gym along with hundreds of other gym members can be quite a work out in itself. And what’s worse, once you’ve finally thought of a routine for the day, you find someone else had exactly the same idea as you. Now you’re left contemplating which machine to use next, or even how to use the machine. At FITStrong we strive to eliminate all the hassles of conventional gyms and instead focus on creating a clean, spacious and active atmosphere and lifestyle. Our training is fun, it’s functional, it’s fresh and it will always leave you feeling excited about your next work-out.</p>
      <p>So walk in, drop your bags, catch up with a mate and enjoy a well formulated, personal, high intensity workout that will never be repeated.</p>
    </div>
  </article>

  <article>
    <header>FITstrong - A dynamic, diverse, outdoor indoor way of life.</header>
    {{!-- <div class="meta">
      <span class="posted at">2015-06-28</span>
      <span class="posted by">Author name</span> 
    </div> --}}
    <div class="content">
      <p>Getting up at the crack of dawn or racing back from work to hit the gym along with hundreds of other gym members can be quite a work out in itself. And what’s worse, once you’ve finally thought of a routine for the day, you find someone else had exactly the same idea as you. Now you’re left contemplating which machine to use next, or even how to use the machine. At FITStrong we strive to eliminate all the hassles of conventional gyms and instead focus on creating a clean, spacious and active atmosphere and lifestyle. Our training is fun, it’s functional, it’s fresh and it will always leave you feeling excited about your next work-out.</p>
      <p>So walk in, drop your bags, catch up with a mate and enjoy a well formulated, personal, high intensity workout that will never be repeated.</p>
    </div>
  </article>

  {{outlet}}
</main>

{{!-- Maybe floating fixed --}}
<footer id="main-footer">
  <span>&copy; 2015 Copyright Company</span>

  <ul class="social">
    <li>FB</li>
    <li>TW</li>
    <li>EM</li>
  </ul>
</footer>